extends layout.pug

include utils.pug

block content
    div Rename your collection below
        form(action='/collections/:id/edit' method='put')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='text' value=collectionName)
            button(type='submit' class='edit-btn') Submit
