doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      link(rel='stylesheet' href="/stylesheets/styles.css")
      title FMDb - #{title}
  body
    nav(class='navbar-container')
      a(href=`http://localhost:8080/`)
        img(id='nav-logo' src='/images/logo.png')
      a(class='navbar-button' href='/movies') Movies
      a(class='navbar-button' href='/collections') Collections
      a(class='navbar-button' href='/reviews') Reviews
        span(class='navbar-toggler-icon')
      div(class='navbar-collapse' id='navbarText')
        ul(class='navbar-nav mr-auto')
        if locals.authenticated
          div(class='navbar-text') Welcome #{user.username}!
          form(class='form-inline' action='/user/logout' method='post')
            button(class='btn btn-logout' type='submit') Logout
        else
          div(class='navbar-text')
            a(class='btn login' href='/user/login') Login
            a(class='btn register' href='/user/register') Register
    .container
      h2(class='titles') #{title}
      block content
