extends layout.pug

block content
    div(class='reviews')
        each review in reviews
            div(class='registration-form')
                p(=review.movieId) Movie Id
                p=review.content
