extends layout.pug

include utils.pug

block content
    div Edit your review
        form(action=`/reviews/${reviewId}/edit` method='POST')
            +validationErrorSummary(errors)
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="movieId" value=pk)
            input(type="hidden" name="userId" value=userId)
            +field("Review", "content", reviewContent)
            +field("Rating", "rating", reviewRating, type='number', max='5')
            div(class="registerCancelContainer")
            button(type="submit" class="register" id="registerLog") Add Review
