extends layout.pug

block content
    div(class='reviews')
        each reviewAndMovie in reviewsAndMovies
            div(class='registration-form indiv-review')
                a(href=`http://localhost:8080/movies/${reviewAndMovie[1].id}`).movie-in-review
                    div Movie: #{reviewAndMovie[1].name}
                div Your Review: #{reviewAndMovie[0].content}
