extends layout.pug

include utils.pug

block content

  form(action='/user/register' method='post' class='registration-form')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field(errors.username, 'Username:', 'username', user.username)
    +field(errors.email, 'Email Address:', 'email', user.email)
    +field(errors.password, 'Password:', 'password', user.hashedPassword, 'password')
    +field(errors.confirmPassword, 'Confirm Password:', 'confirmPassword', '', 'password')
    div
      button(type='submit' class='register' id='register') Register
      a(href='/' class='cancel') Cancel
    div
      p: a(href='/user/login' class='login') Already have an account?
