.navbar-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #121212;
  margin-bottom: 15px;
  align-content: center;
}

.indiv-review {
  margin-bottom: 25px;
}
.reviewsTitle{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
}
.titleInLayout {
  margin-bottom: 30px;
}
.review-box {
  margin-top: 17px;
  margin-bottom: 17px;
}

.reviewContent {
  margin: 15px;

}

.review-box{
  padding: 22px;
  margin-left: auto;
  margin-right: auto;
}

.review-box-in-review-list {
  margin-bottom: 20px;
  padding: 15px;
}

.reviewMovieName {
  margin: 15px;
}

.reviewInreview-box {
  color: rgba(245,197,24) !important;
}

.reviewInreview-box, .ratingInreview-box {
  color: white;
}

.ratingInreview-box {
  color: rgba(245,197,24);
}

.movie-in-review {
  text-decoration: underline;
}

body {
  background-color: black;
  color: rgba(245,197,24);
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.navbar-button {
  display: inline-block;
  margin-left: 20px;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 0.3125rem 5px 0.3125rem 5px;
}

.navbar-button:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

.navbar-text {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  color: white;
  font-size: 16px;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 1;
}

#navbarText {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
} */
.mr-auto {
  margin-right: auto;
}

.btn {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.login, .register, .cancel {
  color: white;
  font-size: 1.0rem;
}

#register, #login {
  display: inline-block;
  color: black;
  margin-right: 15px;
  margin-bottom: 5px;
}

.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

#reviews-container {
  width: 800px;
  height: auto;
}

#nav-logo {
  width: 60px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
}

.form-label {
  padding-right: 10px;
}

.form-group {
  padding-bottom: 4px;
}

.titles {
  color: white;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

#movie-poster {
  padding: 10px;
}

#movie-poster:hover {
  background-color: rgba(128, 128, 128, 0.376);
  border-radius: 5px;
}


.movie {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}

.director {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.376);
}

.movie-description {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

#year {
  color: #FFFFFFB3;
  font-weight: bold;
}

.star-text {
  font-size: 16px;
}

#poster {
  text-align: center;
}

div.movie-contents-container {
  display: block;
}

div.movie-name-year {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-name {
  border-radius: 5px;
}

.movie-name:hover {
  background-color: rgba(128, 128, 128, 0.376)
}

a {
  color: white;
  text-decoration: none;
}

a.cancel {
  padding: 7px;
}

.btn-logout {
  background-color: rgba(245,197,24);
  border: none;
  border-radius: 5px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

a.cancel:hover {
  background-color: rgba(128, 128, 128, 0.376);

}

a.btn.login:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

a.btn.register:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

a.login:hover {
  background-color: rgba(128, 128, 128, 0.376);
}


a.btn.login {
  padding: 7px;
  border-radius: 5px;
}

a.btn.register {
  padding: 7px;
  border-radius: 5px;
}

a.login {
  padding: 7px;
  border-radius: 5px;
}

a.cancel {
  padding: 7px;
  border-radius: 5px;
  color: white
}

.form-group {
  display: inline-grid;
  justify-items: center;
  margin-bottom: 15px;
  margin-top: 5px;

}

.registerCancelContainer {
  display: flex;
  justify-content: center;
}

.alreadyRegisteredContainer {
  display: flex;
  justify-content: center;
}

#redirect {
  color: rgba(245,197,24);
}

#registerLog {
  background-color: white;
  border-width: 0px;
  border-style: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.add-to-collection {
  padding-bottom: 15px;
}

.add-to-collection-btn-div {
  padding-left: 7px;
}

#btn {
  background-color: white;
  border-width: 0px;
  border-style: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.form-control {
  border-radius: 5px;
}

.loginForm {
  display: grid;
  grid-template-columns: 200px;
  background-color: rgba(61, 59, 59, 0.685);
  border-radius: 7px;
  justify-content: center;
}

.registration-form {
  display: grid;
  /* grid-template-columns: 200px; */
  background-color: rgba(61, 59, 59, 0.685);
  border-radius: 7px;
}

.demoButton {
  height: 30px;
  width: 125px;
  background-color: rgb(24, 23, 23);
  margin: 0px;
  color: rgba(245,197,24);
  border: none;
  border-radius: 7px;
}

.loginUpper {
  display: inline-grid;
  justify-items: center;
}

#cancel-login {
  font-size: 16px;
}

#demoText {
  font-size: 16px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.loginButton {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

#loginCancel {
  display: flex;
  justify-content: space-evenly
}

.alert-danger {
  width: 500px;
}

.collectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.376);
  width: 215px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  justify-content: center;
}

.nameContainer {
  width: 70px;
}

#btnContainer {
  padding-left: 15px;
}
/*
.editBtn {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.delBtn {
  font-family: Roboto,Helvetica,Arial,sans-serif;
} */


div.create-collection {
  display: flex;
  width: 180px;
  justify-content: center;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(245,197,24);
  margin-bottom: 25px;
}

div.create-collection:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

/* Reviews Form */
.add-review {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #121212;
  border-radius: 8px;
}

.registration-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviews-text-area {
  width: 95%;
  height: 100px;
  font-size: inherit;
  margin-top: 10px;
}

/* Reviews Edit Form */
.review-edit-container {
  display: flex;
  flex-direction: column;
  background: #121212;
  padding-top: 5%;
  padding-bottom: 10%;
  align-items: center;
  border-radius: 2%;
}

.review-edit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.edit-review-text {
  width: 85%;
  height: 100px;
  margin-top: 15px;
}

.star-rating {
  background: transparent;
  color: #f4c518;
  border: transparent;
  font-size: 40px;
}
.star-rating:hover {
  background: transparent;
  color: #f7f6f5;
  border: transparent;
  font-size: 40px;
  transition: 2s;
}

.rating-edit-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2%;
  font-size: 20px;
}

.rating-input {
  font-size: inherit;
}

.registration-form.review-box {
  display: flex;
  width: 640px;
  justify-content: space-between;
}

.review-content {
  width: 600px;
  height: auto;
  word-wrap: break-word;
  color: white;
}

.reviewContent {
  width: 740px;
  word-wrap: break-word;
}

.rev-edit-btn {
  background-color: white;
  border-width: 0px;
  border-style: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}
.rev-edit-btn {
  background-color: white;
  border-width: 0px;
  border-style: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.rev-btn-container {
  padding-bottom: 15px;
  padding-top: 10px;
}

.rev-edit-btn-container {
  padding-left: 15px;
}

.rev-del-btn-container {
 padding-left: 15px;
}

/* Collections Stylings */
.createContainer {
  display: flex;
  justify-content: center;
}

.collection-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border: solid 2px #f5c518;
  border-radius: 10px;
}

.collection-registration-form {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #121212;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.collection-edit-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.collection-edit-form {
  background: #121212;
  padding: 25px;
  margin-top: 10px;
  border-radius: 10px;
}
