.navbar-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #121212;
  margin-bottom: 15px;
  align-content: center;
}

.indiv-review {
  margin-bottom: 25px;
}

.movie-in-review {
  text-decoration: underline;
}

body {
  background-color: black;
  color: rgba(245,197,24);
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.navbar-button {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 20px;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  text-align: center;
}

.navbar-text {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  color: white;
  font-size: 16px;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 1;
}

#navbarText {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
} */
.mr-auto {
  margin-right: auto;
}

.btn {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.login, .register, .cancel {
  color: white;
  font-size: 1.0rem;
}

#register, #login {
  display: inline-block;
  color: black;
  margin-right: 15px;
  margin-bottom: 5px;
}


.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

#nav-logo {
  width: 60px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
}

.form-label {
  padding-right: 10px;
}

.form-group {
  padding-bottom: 4px;
}

.titles {
  color: white;
  font-size: 48px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.movie {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}

.director {
  font-weight: bold;
  font-size: 16px;
}

.movie-description {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  width: 450px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

#year {
  color: #FFFFFFB3;
}

#poster {
  text-align: center;
}

div.movie-contents-container {
  display: block;
}

div.movie-name-year {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a.cancel {
  padding: 7px;
}

.btn-logout {
  background-color: rgba(245,197,24);
  border: none;
  border-radius: 5px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

a.cancel:hover {
  background-color: rgba(128, 128, 128, 0.376);

}

a.btn.login:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

a.btn.register:hover {
  background-color: rgba(128, 128, 128, 0.376);
}

a.login:hover {
  background-color: rgba(128, 128, 128, 0.376);
}


a.btn.login {
  padding: 7px;
  border-radius: 5px;
}

a.btn.register {
  padding: 7px;
  border-radius: 5px;
}

a.login {
  padding: 7px;
  border-radius: 5px;
}

a.cancel {
  padding: 7px;
  border-radius: 5px;
  color: white
}

.form-group {
  display: inline-grid;
  justify-items: center;
  margin-bottom: 15px;
  margin-top: 5px;

}

.registerCancelContainer {
  display: flex;
  justify-content: center;
}

.registration-form {
  display: grid;
  /* grid-template-columns: 200px; */
  background-color: rgba(61, 59, 59, 0.685);
  border-radius: 7px;
}

.alreadyRegisteredContainer {
  display: flex;
  justify-content: center;
}

#redirect {
  color: rgba(245,197,24);
}

#registerLog {
  background-color: white;
  border-width: 0px;
  border-style: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
}

.form-control {
  border-radius: 5px;
}

.loginForm {
  display: grid;
  grid-template-columns: 200px;
  background-color: rgba(61, 59, 59, 0.685);
  border-radius: 7px;
  justify-content: center;
}

.demoButton {
  height: 30px;
  width: 125px;
  background-color: rgb(24, 23, 23);
  margin: 0px;
  color: rgba(245,197,24);
  border: none;
  border-radius: 7px;
}

.loginUpper {
  display: inline-grid;
  justify-items: center;
}

#cancel-login {
  font-size: 16px;
}

#demoText {
  font-size: 16px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.loginButton {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

#loginCancel {
  display: flex;
  justify-content: space-evenly
}

.alert-danger {
  width: 500px;
}
