.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-left: 10px;
}


body {
  background-color: black;
  color: rgba(245,197,24);
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-left: 20px;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  text-align: center;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.navbar-collapse {
  flex-grow: 1;
}

.navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
}
.mr-auto {
  margin-right: auto;
}

.btn {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.login, .register, .cancel {
  color: white;
  font-size: 1.0rem;
}

#register, #login{
  color: black;
  margin-right: 15px;
}


.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

#nav-logo {
  width: 60px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
}

.registration-form, .titles, .login-form {
  margin-left: 20px;
}

.form-label {
  padding-right: 10px;
}

.form-group {
  padding-bottom: 4px;
}

.titles {
  color: white;
  font-size: 48px;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.movie {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}

.director {
  font-weight: bold;
  font-size: 16px;
}

.movie-description {
  color: white;
  font-size: 16px;
  margin-left: 20px;
  width: 450px;
}

#year {
  color: #FFFFFFB3;
  margin-left: 20px;
}

#poster {
  margin-left: 20px;
}

div.movie-contents-container {
  display: block;
}
